body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments */
    padding-top: 50px; /* Espacement en haut de la page */
}

/* Styles pour le bouton */
.material-icon-button {
    width: 100px; /* Taille du bouton */
    height: 100px;
    border-radius: 50%; /* Rendre le bouton rond */
    border: none; /* Supprimer la bordure par défaut du bouton */
    background-color: #007BFF; /* Couleur de fond du bouton */
    color: white; /* Couleur de l'icône */
    cursor: pointer; /* Changer le curseur au survol */
    display: flex;
    align-items: center; /* Centrer l'icône */
    justify-content: center; /* Centrer l'icône */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Ombre légère */
    transition: background-color 0.3s ease; /* Transition douce de couleur au survol */
}

/* Styles quand on survole le bouton */
.material-icon-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

/* Styles quand on clique le bouton */
.material-icon-button:active {
    background-color: #003366; /* Couleur de fond au clic */
    box-shadow: 0 1px 3px rgba(0,0,0,0.3); /* Réduire l'ombre au clic */
}

/* Styles pour l'icône du bouton */
.material-icon-button .material-icons {
    font-size: 48px; /* Taille de l'icône */
}

/* Styles pour l'indicateur d'enregistrement */
#recording-indicator {
    color: red;
    margin-top: 20px;
    display: none; /* Initialement caché */
}

/* Styles pour l'afficage des résultats */
#weather-info {
    margin-top: 30px; /* Marge en haut */
    padding: 20px; /* Espacement avec les quatre côtés du conteneur */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
    display: none; /* Initialement caché */
}

#weather-info h2 {
    margin-top: 0; /* Supprimer la marge au-dessus du titre, car padding introduit déjà un espacement */
}

#recognized-text {
    margin-top: 20px; /* Marge en haut */
    font-style: italic;
    color: #777;
}